@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Cadastro de Clientes</h1>
</div>
<figure>
    <img widht="50%" height="50%" src="img/logo.jpg"/>
    <figcaption>Bem Vindo ao cadastro de clientes!</figcaption>
</figure>
